<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EMS.DAL.Properties.Settings.info_dbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\infoDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EMS.DAL.Properties.Settings.infoDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\文档\学习相关\后端\EMS201924112114\EMS.Web\App_Data\infoDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>