@import url('https://fonts.font.im/css?family=Poppins:wght@300;400;500;600;700&display=swa');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
    background-color: #003F5C;
    /* 添加渐变 */
    background-image:
        radial-gradient(closest-side, #543864, #54386400),
        radial-gradient(closest-side, #543864, #54386400),
        radial-gradient(closest-side, #1F4068, #1F406800),
        radial-gradient(closest-side, #8B4367, #8B436700),
        radial-gradient(closest-side, #FF6464, #FF646400);
    background-size:
        130vmax 130vmax,
        80vmax 80vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        90vmax 90vmax;
    background-position:
        -80vmax -80vmax,
        60vmax 60vmax,
        10vmax 10vmax,
        -30vmax -10vmax,
        50vmax 50vmax;
    background-repeat: no-repeat;
    animation: 10s movement linear infinite;
    /* background-color: #f6f5f7; */
}

@keyframes movement {

    0%,
    100% {
        background-size:
            130vmax 130vmax,
            80vmax 80vmax,
            90vmax 90vmax,
            110vmax 110vmax,
            90vmax 90vmax;
        background-position:
            -80vmax -80vmax,
            60vmax 60vmax,
            10vmax 10vmax,
            -30vmax -10vmax,
            50vmax 50vmax;
    }

    25% {
        background-size:
            100vmax 130vmax,
            90vmax 90vmax,
            100vmax 100vmax,
            90vmax 90vmax,
            60vmax 60vmax;
        background-position:
            -60vmax -90vmax,
            50vmax -40vmax,
            0vmax -20vmax,
            -40vmax -20vmax,
            40vmax 60vmax;
    }

    50% {
        background-size:
            80vmax 80vmax,
            110vmax 110vmax,
            80vmax 80vmax,
            60vmax 60vmax,
            80vmax 80vmax;
        background-position:
            -50vmax -70vmax,
            40vmax -30vmax,
            10vmax 0vmax,
            20vmax 10vmax,
            30vmax 70vmax;
    }
    75%{
        background-size:
            90vmax 90vmax,
            90vmax 90vmax,
            100vmax 100vmax,
            90vmax 90vmax,
            70vmax 70vmax;
        background-position:
            -50vmax -40vmax,
            50vmax -30vmax,
            20vmax 0vmax,
            -10vmax 10vmax,
            40vmax 60vmax;
    }
}

h2 {
    font-size: 32px;
    /* text-transform：定义大小写规范 */
    /* capitalize	文本中的每个单词以大写字母开头。 */
    text-transform: capitalize;
}

a {
    display: inline-block;
    height: 20px;
    text-decoration: none;
    color: #ddd;
    text-transform: capitalize;
    font-size: 12px;
}

a:hover {
    color: rgb(167, 167, 167);
}

p {
    margin: 10px 0 30px;
}

.button {
    padding: 10px 50px;
    /* transparent	默认值。边框颜色为透明。 */
    border: 1px solid transparent;
    border-radius: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    outline: none;
    /* 变化持续时间 */
    transition: transform 80ms ease-in;
}

/* 被点击时 */
.button:active {
    /* 缩放为95% */
    transform: scale(.95);
}

.container {
    position: relative;
    width: 768px;
    height: 480px;
    background-color: #fff;
    /* box-shadow: h-shadow v-shadow blur spread color inset; */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    overflow: hidden;
}
.form-container {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
    transition: all 0.6s ease-in-out;
}

/* 登录和注册都得在同一边才能实现动效，否则会出界 */
/* 登录 */
.sign-in-container {
    /* z-index 属性指定一个元素的堆叠顺序 */
    z-index: 2;
    /* 靠右对齐 */
    right: 0;
    background-color: rgb(108, 109, 110);
    color: #f2f2f2;
}

.sign-in-container .forget {
    color: #f2f2f2b2;
}

.sign-in-container .forget:hover {
    color: #f2f2f2;
}

.sign-in-container .input {
    background-color: rgb(240, 240, 240);
}

.sign-in-container .button {
    background: #34373c;
    color: #f2f2f2;
    transition: all 0.4s ease;
}

.sign-in-container .button:hover {
    color: #34373c;
    background-color: #f2f2f2;
}

    .sign-in-container .social-container a {
        border: 1px solid #ddd;
        color: #ddd;
        transition: all 0.4s ease;
    }

.sign-in-container .social-container a:hover {
    color: #34373c;
    background-color: #e4e4e4;
    border-color: rgb(114, 116, 117);
}

/* 注册 */
.sign-up-container {
    z-index: 1;
    /* 靠右对齐 */
    right: 0;
    background-color: rgb(227, 227, 228);
}

.sign-up-container .input {
    background-color: rgb(248, 248, 248);
}

.sign-up-container .button {
    color: #34373c;
    background: #f2f2f2;
    transition: all 0.4s ease;
}

.sign-up-container .button:hover {
    color: #f2f2f2;
    background-color: #34373c;
}

    .sign-up-container .social-container a {
        border: 1px solid #34373c;
        transition: all 0.4s ease;
    }

.sign-up-container .social-container a:hover {
    color: #fff;
    background: #222f3e;
    border-color: #cbcbcc;
}

.form-container .form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.form-container .input {
    width: 100%;
    margin: 8px 0;
    padding: 12px;
    border: none;
}

.social-container {
    margin: 10px 0;
}

.social-container a {
    display: inline-block;
    height: 40px;
    width: 40px;
    /* 变成圆框 */
    border-radius: 50%;
    /* 左右居中对齐 */
    text-align: center;
    /* 利用行间距居中 */
    line-height: 40px;
    color: #333;
    margin: 0 5px;
}

.overlay-container {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
}

.overlay {
    position: absolute;
    width: 200%;
    height: 100%;
    /* background-color: #f6d200; */
    background-image: linear-gradient(to right, #f2f2f2, #34373c);
    transition: all 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 0 40px;
    text-align: center;
}

.overlay-panel p {
    font-size: 12px;
    margin: 10px 0 15px;
}

/* 右覆盖 */
.overlay-right-container {
    color: #fcfcfc;
    transform: translateX(-10%);
    transition: all 0.6s ease-in-out;
    right: 0;
}

.overlay-right-container .button {
    background-color: transparent;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    transition: all 0.4s ease;
}

.overlay-right-container .button:hover {
    background-color: #f2f2f2;
    color: #34373c;
}

/* 左覆盖 */
.overlay-left-container {
    transform: translateX(0%);
    transition: all 0.6s ease-in-out;
    color: #34373c;
}

.overlay-left-container .button {
    background-color: transparent;
    color: #34373c;
    border: 1px solid #34373c;
    transition: all 0.4s ease;
}

.overlay-left-container .button:hover {
    background-color: #34373c;
    color: #f2f2f2;
}

.container.active .sign-in-container {
    /* 注册表单往左移动 */
    transform: translateX(-100%);
}

.container.active .sign-up-container {
    /* 登录表单往左移动 */
    transform: translateX(-100%);
    z-index: 5;
}

.container.active .overlay-container {
    transform: translateX(100%);
}

.container.active .overlay {
    transform: translateX(-50%);
}

.container.active .overlay-right-container {
    transform: translateX(0%);
}

.container.active .overlay-left-container {
    transform: translateX(10%);
}